In [18]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('./scripts')))
import warnings
warnings.filterwarnings('ignore')

In [16]:
#we will need the following libraries and modules
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns
sns.set()

In [20]:
from helper import MyHelper

import utility
import plots

In [21]:
# the class has utility function we are going to use
Helper = MyHelper()

In [2]:
train_PATH = "/home/studio-lab-user/sagemaker-studiolab-notebooks/week3/data/train.csv"
test_PATH = "/home/studio-lab-user/sagemaker-studiolab-notebooks/week3/data/test.csv"
store_PATH = "/home/studio-lab-user/sagemaker-studiolab-notebooks/week3/data/store.csv"
sample_PATH = "/home/studio-lab-user/sagemaker-studiolab-notebooks/week3/data/sample_submission.csv"

In [22]:
train_df = Helper.read_csv(train_PATH) 
test_df = Helper.read_csv(test_PATH) 
store_df = Helper.read_csv(store_PATH) 
sample_df = Helper.read_csv(sample_PATH) 

train_df.head(3)

>> file read as csv
>> file read as csv
>> file read as csv
>> file read as csv

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1

In [4]:
test_df.head(3)

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0

In [5]:
store_df.head(3)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"

In [6]:
sample_df.head()

   Id  Sales
0   1      0
1   2      0
2   3      0
3   4      0
4   5      0

# Task 1 - Exploration of customer purchasing behavior

In [7]:
train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [8]:
#Checking missing values 
train_df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [9]:
train_store = pd.merge(train_df, store_df, how = 'inner', on = 'Store')

In [10]:
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [11]:
train_store.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64

In [12]:
train_store.shape

(1017209, 18)

## Handling missing data

In [13]:
comp_dist_mean = train_store.CompetitionDistance.mean()
print('mean is', comp_dist_mean)
train_store['CompetitionDistance'].fillna(comp_dist_mean, inplace = True)

mean is 5430.085652302903

In [49]:
#Checking missing values 
train_store.isnull().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance               0
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
PromoInterval                508031
dtype: int64